/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --bg-images-page: url(../images/cover-image-light.png);
  --bg-color-page: rgba(255, 241, 247, 1);
  --accent-color: rgba(53, 52, 48, 1);
  --accent-bg-color: rgba(255, 141, 203, 1);
  --decor-color: rgba(53, 52, 48, 1);
  --title-text: rgba(255, 194, 230, 1);
  --accent-color-transperent: rgba(50, 49, 45, 0.4);
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-images-page: url(../images/cover-image-light.png);
  --bg-color-page: rgba(255, 241, 247, 1);
  --accent-color: rgba(53, 52, 48, 1);
  --accent-bg-color: rgba(255, 141, 203, 1);
  --decor-color: rgba(53, 52, 48, 1);
  --title-text: rgba(255, 194, 230, 1);
  --accent-color-transperent: rgba(50, 49, 45, 0.4);
  }
  
  .REC {
    display: none;
  }
}
